html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    background-color: #F3F4F9;
}

.App{
    display: flex;
    flex-direction: column;
}

.App-container{
    margin-top: 80px;
}