$main-color: rgb(30,144,255);
$box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
$box-shadow-focus: 0 0 3px $main-color, inset 0 1px 1px rgba(30,144,255,.5);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  background-color: #F3F4F9;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 300;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-width: 852px;
}

.App-container {
  margin-top: 80px;
}

.msg-box-default {
  position: fixed;
  top: 100px;
  left: 30%;
  visibility: hidden;
  width: 40%;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  z-index: 999;
  justify-content: center;
  font-weight: bold;
}

.success {
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  color: #3c763d;
}

.danger {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  color: #a94442;
}

.input-text{
  border: 1px solid rgba(0,0,0,.3);
  outline: none;
  border-radius: 4px;
  height: 20px;
  padding:7px;
  font-size: 15px;
  box-shadow: $box-shadow;
  background-color: #fff;
  &:focus{
    border: 1px solid $main-color;
    box-shadow: $box-shadow-focus;
  }
}

.input-textarea{
  border: 1px solid rgba(0,0,0,.3);
  outline: none;
  border-radius: 4px;
  padding:7px;
  overflow-y: scroll;
  font-size: 15px;
  box-shadow: $box-shadow;
  background-color: #fff;
  &:focus{
    border: 1px solid $main-color;
    box-shadow: $box-shadow-focus;
  }
}

.input-button{
  outline: none;
  border-radius: 4px;
  padding: 7px 10px;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  border: 1px solid;
}

$btn-active: inset 0 3px 5px rgba(0,0,0,.125);

.btn-default{
  border-color: #ccc;
  background-color: #fff;
  color: #000;
  &:active{
    box-shadow: $btn-active;
  }
  &:hover{
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}

.btn-success{
  border-color: #4cae4c;
  background-color: #5cb85c;
  &:active{
    box-shadow: $btn-active;
  }
  &:hover{
    background-color: #449d44;
    border-color: #398439;
  }
}

.btn-primary{
  border-color: #357ebd;
  background-color: #428bca;
  &:active{
    box-shadow: $btn-active;
  }
  &:hover{
    background-color: #3071a9;
    border-color: #285e8e;
  }
}

.btn-info{
  border-color: #46b8da;
  background-color: #5bc0de;
  &:active{
    box-shadow: $btn-active;
  }
  &:hover{
    background-color: #31b0d5;
    border-color: #269abc;
  }
}

.btn-warning{
  border-color: #eea236;
  background-color: #f0ad4e;
  &:active{
    box-shadow: $btn-active;
  }
  &:hover{
    border-color: #d58512;
    background-color: #ec971f;
  }
}

.btn-danger{
  border-color: #d43f3a;
  background-color: #d9534f;
  &:active{
    box-shadow: $btn-active;
  }
  &:hover{
    border-color: #ac2925;
    background-color: #c9302c;
  }
}

.btn-margin{
  margin: 1px 2px;
}