.MAbout-container{
  display: flex;
  flex-direction: column;
  .row-title{
    display: flex;
    justify-content: space-between;
    border-left: 4px solid dodgerblue;
    padding-left: 10px;
  }
  .margin-left-right{
    margin: 0 15px;
  }
  .margin-top-bottom{
    margin-top: 25px;
    margin-bottom: 13px;
  }
  textarea{
    height: 100px;
    padding: 5px;
    font-size: 15px;
    outline: none;
    box-shadow: inset 0 1px 5px rgba(0,0,0,.3);
    overflow-y: scroll;
  }
}