.MAbout-container{
  display: flex;
  flex-direction: column;
  .row-title{
    display: flex;
    justify-content: space-between;
    border-left: 4px solid dodgerblue;
    padding-left: 10px;
  }
  .margin-left-right{
    margin: 0 15px;
  }
  .margin-top-bottom{
    margin-top: 25px;
    margin-bottom: 13px;
  }
  textarea{
    height: 100px;
  }
}

.admin-about-model-contents{
  width: 500px;
  .contents {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
  }
  .btn-group{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 20px;
  }
}