footer{
  display: flex;
  height: 300px;
  background-color: rgb(0,0,0);
  flex-direction: column;
  padding: 0 18%;
  justify-content: center;
  .list {
    display: flex;
    .col {
      display: flex;
      flex: 1;
      flex-direction: column;
      a{
        color: #fff;
        width: 80px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 100;
        text-decoration: none;
        height: 20px;
        display: flex;
        align-items: center;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  label{
    color: #fff;
    margin-top: 50px;
    font-size: 13px;
  }
}

footer .foot-btn{
  background-color: transparent;
  width: 80px;
  color: #fff;
  border: none;
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 100;
  height: 21px;
  padding: 0;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}