footer{
  display: flex;
  height: 300px;
  background-color: rgb(0,0,0);
  flex-direction: column;
  padding: 0 18%;
  justify-content: center;
  .list {
    display: flex;
    .col {
      display: flex;
      flex: 1;
      flex-direction: column;
      a{
        color: #fff;
        width: 80px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 100;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  label{
    color: #fff;
    margin-top: 50px;
    font-size: 13px;
  }
}