header {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
  z-index: 999;
  .logo {
    color: #fff;
    margin-left: 15%;
  }
  .navigation {
    margin-left: 50px;
    margin-right: 15%;
    ul {
      display: flex;
      list-style-type: none;
      a {
        color: #fff;
        text-decoration: none;
        margin-right: 30px;
        font-weight: 200;
        &:hover{
          color: dodgerblue;
        }
      }
      .active-link{
        color: dodgerblue;
      }
    }
  }
}