.join-page{
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: 0 auto;
  align-items: center;
  h1{
    margin: 30px 0;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 60%;
    .row {
      display: flex;
      width: 100%;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 30px;
      .left-part{
        flex: 30;
        label{
          span{
            color: orangered;
          }
        }
      }
      .right-part{
        flex: 70;
        width: 100%;
        .join-text{
          height: 15px;
          width: 95%;
        }
        .join-textarea{
          width: 95%;
          height: 80px;
        }
        .join-btn{
          width: 100%;
        }
        .join-option{
          width: 100%;
        }
      }
    }
  }
}