.timeline-container {
  display: flex;
  width: 100%;
  margin-top: 25px;
  .timeline-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #75ce66;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: #fff;
    }
  }
  .timeline-contents{
    background-color: #fff;
    margin-left: 20px;
    flex: 1;
    padding: 10px;
    position: relative;
    border-bottom: 2px solid #d7e4ed;
    display: flex;
    flex-direction: column;
    &::after{
      content: "";
      position: absolute;
      top: 10px;
      right: 100%;
      height: 0;
      width: 0;
      border: 7px solid transparent;
      border-right: 7px solid white;
    }
    .time{
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 5px;
    }
    .contents{

    }
  }

}